---
import { siteConfig } from '@config';
import { loadLocale, getLocaleFromUrl, i18nObject } from '@utils/i18n';

const url = Astro.url;
const locale = getLocaleFromUrl(url.pathname);
await loadLocale(locale);
const t = i18nObject(locale);
---

<header class="px-8 py-24 flex flex-col gap-4 md:gap-8 lg:gap-12">
	<div class="flex flex-col justify-center items-center gap-3 md:gap-6">
		<h1 class="text-dp-md sm:text-dp-lg md:text-dp-xl lg:text-dp-2xl font-semibold">{t.hero.title()}</h1>
		<p class="text-md sm:text-lg md:text-xl lg:text-dp-sm font-medium">{t.hero.desc()}</p>
	</div>
	<div class="flex sm:flex-row justify-center items-center gap-3">
		<a
			href=""
			class="px-6 py-2 md:py-3 lg:px-8 lg:py-4 rounded-lg bg-primary-600 hover:bg-primary-700 focus:ring ring-primary-200 outline-none text-white transition-colors text-md sm:text-lg font-semibold text-center"
			>{t.hero.primaryButton()}</a
		>
		<a
			href=""
			class="px-6 py-2 md:py-3 lg:px-8 lg:py-4 rounded-lg bg-white hover:bg-gray-100 border border-gray-300 shadow-xs focus:ring ring-gray-200 outline-none text-gray-700 hover:text-gray-800 transition-colors text-md sm:text-lg font-semibold text-center"
			>{t.hero.secondaryButton()}</a
		>
	</div>
	<!-- <img src={siteConfig.hero.mainImage} alt={t.hero.mainImageTitle()} /> -->
</header>
