---
import { loadLocale, getLocaleFromUrl, i18nObject } from '~/utils/i18n';

const { url } = Astro;
const locale = getLocaleFromUrl(url.pathname);
await loadLocale(locale);
const t = i18nObject(locale);
---

<header class="flex flex-col gap-4 px-8 py-24 md:gap-8 lg:gap-12">
	<div class="flex flex-col items-center justify-center gap-3 md:gap-6">
		<h1 class="text-dp-md font-semibold sm:text-dp-lg md:text-dp-xl lg:text-dp-2xl">
			{t.hero.title()}
		</h1>
		<p class="text-md font-medium sm:text-lg md:text-xl lg:text-dp-sm">
			{t.hero.desc()}
			{t.hero.desc()}
		</p>
	</div>
	<div class="flex items-center justify-center gap-3 sm:flex-row">
		<a
			href=""
			class="rounded-lg bg-primary-600 px-6 py-2 text-center text-md font-semibold text-white outline-none ring-primary-200 transition-colors hover:bg-primary-700 focus:ring sm:text-lg md:py-3 lg:px-8 lg:py-4"
			>{t.hero.primaryButton()}</a
		>
		<a
			href=""
			class="rounded-lg border border-gray-300 bg-white px-6 py-2 text-center text-md font-semibold text-gray-700 shadow-xs outline-none ring-gray-200 transition-colors hover:bg-gray-100 hover:text-gray-800 focus:ring sm:text-lg md:py-3 lg:px-8 lg:py-4"
			>{t.hero.secondaryButton()}</a
		>
	</div>
</header>
