---
import { fetchDocs } from '~/utils/docs';
import { loadLocale, i18nObject, getLocaleFromUrl } from '~/utils/i18n';
import { getUrl } from '~/utils/route';
import { siteConfig } from '~/config';

type Props = {
	filePath: string;
};

const { filePath } = Astro.props;

// Load i18n
const locale = getLocaleFromUrl(Astro.url.pathname);
await loadLocale(locale);
const t = i18nObject(locale);

// Grab info for each level in breadcrumb.
const allPages = await fetchDocs();
const fileDir = filePath.split('/').slice(0, -1);

const breadcrumb: Array<Record<'text' | 'url', string>> = fileDir.map((_, index, dirs) => {
	const path = dirs.slice(0, index + 1).join('/');

	// Find the localized page first.
	// if there is no localized page, use the one under default locale.
	const target =
		allPages.find((p) => p.id === `${path}/${locale}.mdx` || p.id === `${path}/${locale}.md`) ??
		allPages.find(
			(p) =>
				p.id === `${path}/${siteConfig.site.defaultLocale}.mdx` ||
				p.id === `${path}/${siteConfig.site.defaultLocale}.md`,
		);

	// Ensure the target is not undefined.
	if (!target)
		throw new Error(
			`Failed to generate breadcrumb: file for docs page ${path} was not found. ` +
				`(locale ${locale} and ${siteConfig.site.defaultLocale})`,
		);

	return { text: target.title, url: getUrl(locale, 'docs', target.slug) };
});
---

<div>
	<span class="text-sm text-gray-800"><a href={getUrl(locale, 'docs', 'main')}>{t.docs.breadcrumbBase()}</a></span>
	{
		breadcrumb.map((item) => (
			<>
				<span class="text-sm text-gray-800">/</span>
				<a class="text-sm text-gray-500" href={item.url}>
					{item.text}
				</a>
			</>
		))
	}
</div>
