---
import type { GetStaticPathsResult, Page } from 'astro';
import type { Locales, News, NewsTag } from '~/types';
import Layout from '~/layouts/blank.astro';
import { locales } from '~/utils/i18n';
import { fetchNews } from '~/utils/news';
import { siteConfig } from '~/config';

// Typings for the card data
type ContentProps = {
	contentProps: News;
};

// Typings for the listing page
type PageProps = {
	pageProps: {
		locale: Locales;
		tag: NewsTag;
	};
};

// eslint-disable-next-line unicorn/prevent-abbreviations
type Params = {
	locale: Locales;
	tag: NewsTag;
};
type Path = {
	params: Params;
	props: PageProps;
};
type Props = PageProps & {
	page: Page<Path & { props: ContentProps }>;
};

export async function getStaticPaths({
	paginate,
}: {
	// More strict typing for PaginateFunction
	paginate: (data: Array<{ props: ContentProps }>, args: Path & { pageSize: number }) => GetStaticPathsResult;
}) {
	const allPages = await fetchNews();

	// For each locale, do the paginating process
	const result = locales.map((locale) => {
		// Find the articles with each tag, then do the paginate function
		return (Object.keys(siteConfig.news.tags) as NewsTag[]).map((tag) =>
			paginate(
				allPages
					.filter((p) => p.tags.includes(tag))
					// Content data (only requires pageProps)
					.map((p): { props: ContentProps } => ({ props: { contentProps: p } })),
				// Data used for the listing page (only requires pageProps)
				{ params: { locale, tag }, props: { pageProps: { locale, tag } }, pageSize: 12 },
			),
		);
	});

	// Convert level 3 recursion to level 2 recursion for Astro
	return result.flat(2);
}

const { page } = Astro.props;
const { locale, tag } = Astro.props.pageProps;
---

<Layout>
	<main class="container order-2 mx-auto grid w-full gap-2 p-8 lg:px-16">
		<header class="text-center text-dp-lg font-semibold">News</header>
		<span class="mx-auto mb-6 text-sm text-gray-600">tag: {siteConfig.news.tags[tag].name}</span>

		<div class="grid gap-8 border-b border-gray-200 pb-6 md:grid-cols-2 lg:grid-cols-3">
			{
				page.data.map((p) => (
					<article class="flex flex-col gap-3 border-t border-gray-200 pt-6 text-gray-800">
						<a
							href={`/${locale}/news/${p.props.contentProps.slug}/`}
							class="overflow-hidden rounded-lg border border-gray-200"
						>
							<img
								src={p.props.contentProps.image}
								alt={p.props.contentProps.title}
								class="aspect-[800_/_425] w-full object-cover transition-transform duration-300 hover:scale-105"
							/>
						</a>
						<a
							href={`../${p.props.contentProps.slug}/`}
							class="text-xl font-bold leading-6 hover:text-primary-600 hover:underline"
						>
							{p.props.contentProps.title}
						</a>
						<span class="text-gray-600">{p.props.contentProps.desc}</span>
						<div class="flex items-baseline gap-2">
							<span class="font-semibold">{p.props.contentProps.author}</span>
							<span class="text-sm text-gray-600">
								{new Date(p.props.contentProps.date).toLocaleDateString(locale, { dateStyle: 'long' })}
							</span>
						</div>
					</article>
				))
			}
		</div>

		<div class="mx-auto mt-6 flex min-w-[20ch] justify-center gap-2">
			{
				page.url.prev && (
					<>
						<a
							class="rounded border border-primary-200 bg-primary-50 px-3 py-2 text-primary-800 hover:border-primary-400 hover:bg-primary-100"
							href="../1/"
						>
							&lt;&lt;
						</a>
						<a
							class="rounded border border-primary-200 bg-primary-50 px-3 py-2 text-primary-800 hover:border-primary-400 hover:bg-primary-100"
							href={page.url.prev}
						>
							&lt;
						</a>
					</>
				)
			}
			<span
				class="flex-grow rounded border border-gray-200 bg-gray-50 px-4 py-2 text-center font-mono text-gray-800"
			>
				{page.currentPage} / {page.lastPage}
			</span>
			{
				page.url.next && (
					<>
						<a
							class="rounded border border-primary-200 bg-primary-50 px-3 py-2 text-primary-800 hover:border-primary-400 hover:bg-primary-100"
							href={page.url.next}
						>
							&gt;
						</a>
						<a
							class="rounded border border-primary-200 bg-primary-50 px-3 py-2 text-primary-800 hover:border-primary-400 hover:bg-primary-100"
							href={`../${page.lastPage}/`}
						>
							&gt;&gt;
						</a>
					</>
				)
			}
		</div>
	</main>
</Layout>
