---
import type { DocsPageProps as Props } from '~/types';
import Breadcrumb from '~/components/docs/breadcrumb.astro';
import Fallback from '~/components/docs/fallback.astro';
import OutdatedTranslation from '~/components/docs/outdated-translation.astro';
import Outdated from '~/components/docs/outdated.astro';
import TableOfContents from '~/components/docs/table-of-contents';
import Layout from '~/layouts/base.astro';
import { getTocTree } from '~/utils/generate-toc';
import { getLocaleFromUrl, i18nObject, loadLocale } from '~/utils/i18n';
import { siteConfig } from '~/config';

const locale = getLocaleFromUrl(Astro.url.pathname);
await loadLocale(locale);
const t = i18nObject(locale);
const { contentProps, pageProps } = Astro.props;
---

<Layout>
	<!-- TODO: remove this magic value sometime later -->
	<div class="mx-auto grid w-full grid-cols-[minmax(14em,1fr)_minmax(0,49em)_1fr] gap-8">
		<aside class="order-1 hidden lg:block"></aside>
		<!-- Table of Contents -->
		<aside class="order-3 hidden pr-4 lg:block">
			<!-- Max height: 100vh - navHeight - topMargin - bottomMargin), Top offset: navHeight + topMargin -->
			<nav class="sticky top-[112px] flex max-h-[calc(100vh-64px-48px-48px)] flex-col gap-2">
				<div class="text-sm font-bold">
					{t.docs.tocHeading()}
				</div>
				<div class="relative overflow-auto">
					<TableOfContents tocTree={getTocTree(contentProps.headings)} client:visible />
				</div>
			</nav>
		</aside>
		<main
			class="order-2 col-span-3 mx-2 mt-8 rounded-2xl border px-6 py-12 shadow-2xl sm:px-8 md:px-12 lg:col-span-1 lg:mx-0 lg:px-16"
		>
			<Breadcrumb filePath={contentProps.id} />
			<article class="markdown-body mt-6">
				<h1>{contentProps.title}</h1>
				{
					contentProps.outdated_translation && (
						<OutdatedTranslation
							originalLocale={siteConfig.site.defaultLocale}
							sourceLink={contentProps.outdated_translation}
						/>
					)
				}
				{pageProps.outdated && <Outdated />}
				{pageProps.fallback && <Fallback fallbackLocale={contentProps.locale} />}

				<div>
					<slot />
				</div>
			</article>
		</main>
	</div>
</Layout>
