---
import type { NewsPageProps as Props } from '~/types';
import Layout from '~/layouts/base.astro';
import { getLocaleFromUrl, i18nObject, loadLocale } from '~/utils/i18n';

const locale = getLocaleFromUrl(Astro.url.pathname);
await loadLocale(locale);
const t = i18nObject(locale);

const { contentProps, pageProps } = Astro.props;
---

<Layout>
	<main class="grid w-full grid-cols-[minmax(14em,1fr)_minmax(0,49em)_1fr]">
		<aside class="order-1 hidden lg:block"></aside>
		<aside class="order-3 hidden lg:block"></aside>

		<main
			class="order-2 col-span-3 mx-2 mt-8 rounded-2xl border px-6 py-12 shadow-2xl sm:px-8 md:px-12 lg:col-span-1 lg:mx-0 lg:px-16"
		>
			<!-- Breadcrumb -->
			<div>
				<span class="text-sm text-gray-800"><a href={`/${locale}/news/1/`}>{t.news.breadcrumbBase()}</a></span>
				<span class="text-sm text-gray-800">/</span>
				<a class="text-sm text-gray-500" href=".">{contentProps.title}</a>
			</div>

			<article class="markdown-body my-6">
				<slot />
			</article>

			{
				pageProps.nextPost && (
					<a href={`../${pageProps.nextPost.slug}/`}>
						<div class="my-3 flex flex-col rounded-lg border border-gray-200 bg-gray-50 bg-cover px-3 py-2 hover:border-gray-400 hover:bg-gray-100">
							<span class="font-semibold">Next</span>
							<span class="line-clamp-1 text-sm">{pageProps.nextPost.title}</span>
						</div>
					</a>
				)
			}
			{
				pageProps.prevPost && (
					<a href={`../${pageProps.prevPost.slug}/`}>
						<div class="my-3 flex flex-col rounded-lg border border-gray-200 bg-gray-50 bg-cover px-3 py-2 hover:border-gray-400 hover:bg-gray-100">
							<span class="font-semibold">Prev</span>
							<span class="line-clamp-1 text-sm">{pageProps.prevPost.title}</span>
						</div>
					</a>
				)
			}
		</main>
	</main>
</Layout>
